{% extends "base.html" %}
{% block content %}
                    <h1 class="mt-4">Главная страница</h1>
<h5 class="mt-4">Добро пожаловать, {{user.username}}</h5>
                    <p>Этот парсер может выводить сводку о количестве вакансий, их средней зарплате и пяти самых требуемых навыках, которые для них требуются.</p>
<p>Чтобы воспользоваться парсером, надо ввести вакансию, по которой он будет искать, и выбрать город из списка. </p>

<h1 class="mt-4">Все запросы</h1>
<ul>
    {% for item in object_list %}
<li> {{item.vacancy}}
    <br>
     {{item.city}}
    <hr>
</li>
    {% endfor %}
</ul>
{% endblock %}